<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Add Book</title>
    <script th:src="@{/js/flashMessages.js}"></script>
</head>
<body>
    <div layout:fragment="content">
        <div class="container mx-auto">
            <h1 class="text-2xl font-bold mb-4">Add New Category</h1>
            <div id="flash-messages">
                <div th:if="${successMessage}" class="bg-green-500 text-white p-2 mb-4">
                    <p th:text="${successMessage}"></p>
                </div>
                <div th:if="${errorMessage}" class="bg-red-500 text-white p-2 mb-4">
                    <p th:text="${errorMessage}"></p>
                </div>
            </div>
    
            <form th:action="@{/category/add}" th:object="${category}" method="post" enctype="multipart/form-data" class="space-y-4">
                <div>
                    <label for="name">Name</label>
                    <input type="text" id="title" th:field="*{name}" class="border p-2 w-full">
                    <div th:if="${#fields.hasErrors('name')}" class="text-red-500 text-sm">
                        <p th:text="${#fields.errors('name')}"></p>
                    </div>
                </div>
            
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 cursor-pointer">Add Category</button>
            </form>                    
        </div>
    </div>
</body>
</html>
